* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  font-family: 'Fjalla One', sans-serif;
  color: white;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(/src/Images/home-background-scale.png);
  background-position: -680 center;
  background-size: cover;
  position: relative;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

p, li{
    font-family: sans-serif;
}

/* ------HAMBURGER NAVIGATION MENU FOR IPHONE--------- */

/* Hamburger icon display */
.nav-container label {
    display: block;
    cursor: pointer;
    margin: 0 40px 0 0;
    font-size: 2.5rem;
    line-height: 70px;
    width: 26px;
    float: right;
    color: white;
}

.nav-container {
    background-color: rgba(9, 14, 37, 0.9);
    text-align: center;
    height: 70px;
    line-height: 70px;
    /* -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2); */
    
}
.nav-list {
    text-align: center;
    width: 100%;
    display: none;
    /* -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2); */
    border-top: 1px solid #EAEAEB;
}
.nav-list a {
    background-color: rgba(9, 14, 37, 0.9);
    display: block;
    margin: 0;
    z-index: -1;
}

.nav-list a:hover {
    background-color: #4e976f;
    color: white;
}
#hamburger-button:checked + .nav-list {
    display: block;
    position: absolute;
    top: 70px;
    z-index: 2;
    font-size: 2rem;
}

#hamburger-button {
    display: none;
}

/* ------EXPANDED HORIZONTAL NAVIGATION MENU FOR BIGGER SCREENS--------- */


@media only screen and (min-width: 500px){
  
  .nav-list {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    border-top:  none;
  }
  
  .nav-container {
      background-color: transparent;
      box-shadow: none;
      line-height: inherit;
      padding-top:20px;
  }

  .nav-list a {
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
  }
  
  /* Don't show hamburger menu */
  .nav-container label {
    display: none;
  }
 
  .nav-list li {
    list-style: none;
    font-size: 1.2rem;
  }

  .nav-list li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    margin: auto;
    transition: 2s;
    display: block;

  }
  
  .nav-list li:hover::after{
    width:100%;
    background-color: white;

}

  .nav-list a:hover {
      background-color: transparent;
      font-size: 2rem;
      transition: 2s;
}
}



/* MAIN CONTENT */

.main-container {
  height: 80%;
  text-align: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-top: 7rem;
}

h1, .main-container h2, .link {
    text-shadow: 2px 2px #0a1f11;
}

.main-container h1 {  
  width: 70%;
}  
h1 {
  font-size: 3.7rem;
  line-height: 3rem;
  text-shadow: 2px 2px #0a1f11;
  padding-top: 100px;
  font-weight: bold;
  text-decoration:underline overline ;
  text-underline-offset: 10px;
}

.main-container h2 {
  width: 80vw;
  color: white;
  text-shadow: 2px 2px #0a1f11;
  font-size: 1.9em;
  padding: 30px 0 50px 0;
  font-family: 'Teko', sans-serif;
}

.call-to-action {
  display: block;
  text-decoration: none;
  font-family:'Fjalla One', sans-serif;
  border: white solid 2px;
  padding: 7px 10px;
  font-size: 20px;
  background-color: rgba(10, 78, 78, 0.2);
  cursor: pointer;

}

/* Horizontally center icon in call-to-action button */
#download {
  position: relative;
  top: 5px;
}

.call-to-action:hover {
  background-color: rgba(96, 143, 230,0.5);
  transition: 1s;
  border: 1px solid white;
  padding: 12px 13px;
}

/* PROJECTS */


.page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-rectangle {
    width: 100%;
    background-color:rgba(10, 78, 78, 0.1);
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top:rgba(254, 254, 254, 0.8) solid;

  }

#arrow-down {
    padding-top: 100px;
    font-size: 7em;
  }
  
.page-content {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    border:rgba(254, 254, 254, 0.8) solid;
  }
 
  .content-titles {
    padding: 20px 20px;
  }
  
  article {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  .content-box {
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
  }

  .content-text {
    margin: 0 20px;
}

.project-image {
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
}

  /* .content-text-wrapper {
    margin: 0 20px;
} */

  

@media only screen and (min-width: 500px){
    .page-container {
        display: flex;
        flex-direction: row-reverse;
        height: inherit;

    }
    .page-content {
        flex-basis: 50%;
        flex-wrap: wrap;
        padding: 10px 10px;
        justify-content: center;
        height: inherit;

   }
    .page-rectangle {
        flex-basis: 50%;
        height: 100vh;
        /* keep title text scrolling with .page-content */
        display: flex;
        position: sticky;
        top: 0px;

    }
    .content-box {
        flex-basis: 30%;
        
    }

    .content-text {
        flex-basis: 100%;
        margin: 0;
    }
    
    .project-image {
        flex-basis: 100%;
    }

}

/* ----------ABOUT ME PAGE ----------*/

.content-text-wrapper {
    /* width: 80%; */
}
.content-text-wrapper li {
    text-align: center;
    list-style-position:inside;
    padding-top: 10px;
}




@media only screen and (min-width: 500px){

#about-me-content {
    flex-direction: column;
}

/* -----Flip content side (title on left, content on right) ----------*/
#rectangle-left {
    order: 1;
}
}




















/* FOOTER */

.footer-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-links {
  font-size: 3rem;
}

/* Don't show footer on projects/aboutme/blog */
.footer-container-hidden {
    display: none;
}

/* Correcting for Tablet*/
@media only screen and (min-width: 600px) {
  body {
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(/src/Images/home-background-scale.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

}

/* Correcting for desktop 1000 and above */
@media only screen and (min width: 1000px) {
}


/*# sourceMappingURL=style.css.map */